<!DOCTYPE html>
<html>
<title>Stripe Payment Demo</title>
<body>
	<h4>Successfully Registered!! <br> But your status is still "INACTIVE". To make it active, please go through the payment procedure</h4>
	<h3>Welcome to Payment Gateway</h3>
	<h2><%= id %></h2>
	<form action="/payment" method="POST">
	<!-- <input type="hidden" name="id" value="<% = id %>"> -->
	<script
		src="//checkout.stripe.com/v2/checkout.js"
		class="stripe-button"
		data-key="pk_test_51NAAI5SBeM1tYIqmTF6eOTBwhPE6GrIIN5G3j8Avr4bCNQzswawWQNQoSzbYA4uj3Npt70EQGYyzWx3qAtudPPwl00TBof7L10"
		data-amount="2500"
		data-currency="inr"
		data-name="Pathyakram"
		data-description="All types of books available here"
		data-locale="auto" >
		</script>
	</form>
</body>
</html>
